<div class="page-container">
  <div class="table-header">
    <h2>Gestión de Proyectos</h2>
    <div class="table-actions">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Buscar proyecto</mat-label>
        <input #filterValue matInput (keyup.enter)="applyFilter(filterValue.value)"
        (input)="applyFilterIfEmpty(filterValue.value)"  placeholder="Ej. Remodelación Cocina">
        <mat-icon matSuffix (click)="applyFilter(filterValue.value)">search</mat-icon>
      </mat-form-field>

      <div class="table-actions">
        <button mat-flat-button color="primary" (click)="openForm()">
          <mat-icon>add</mat-icon>
          Agregar Proyecto
        </button>
        <button mat-flat-button color="accent" (click)="exportToExcel()">
          <mat-icon>file_download</mat-icon>
          Excel
        </button>
        <button mat-flat-button color="primary" (click)="exportToPdf()">
          <mat-icon>picture_as_pdf</mat-icon>
          PDF
        </button>
      </div>
    </div>
  </div>

  <div class="table-card">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="responsive-table">
        
        <ng-container matColumnDef="nombreProyecto">
          <th mat-header-cell *matHeaderCellDef>Proyecto</th>
          <td mat-cell *matCellDef="let proyecto">{{ proyecto.nombreProyecto }}</td>
        </ng-container>

        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let proyecto">{{ proyecto.nombreCliente }}</td>
        </ng-container>

        <ng-container matColumnDef="nombreEmpleadoResponsable">
          <th mat-header-cell *matHeaderCellDef>Responsable</th>
          <td mat-cell *matCellDef="let proyecto">{{ proyecto.nombreEmpleadoResponsable }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let proyecto">
            <mat-chip-row [color]="getEstadoColor(proyecto.estado)" selected>{{ proyecto.estado }}</mat-chip-row>
          </td>
        </ng-container>

        <ng-container matColumnDef="progresoPorcentaje">
          <th mat-header-cell *matHeaderCellDef>Progreso (%)</th>
          <td mat-cell *matCellDef="let proyecto">
            <div class="progress-info">
              <mat-progress-bar mode="determinate" [value]="proyecto.progresoPorcentaje"></mat-progress-bar>
              <span>{{ proyecto.progresoPorcentaje | number:'1.0-0' }}%</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
          <td mat-cell *matCellDef="let proyecto">{{ proyecto.fechaInicio | date }}</td>
        </ng-container>
        
        <ng-container matColumnDef="fechaFinEstimada">
          <th mat-header-cell *matHeaderCellDef>Fin Estimada</th>
          <td mat-cell *matCellDef="let proyecto">{{ proyecto.fechaFinEstimada | date }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let proyecto" class="mat-column-acciones">
            <button mat-icon-button color="primary" (click)="openForm(proyecto)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProyecto(proyecto.id!)" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            No se encontraron proyectos que coincidan con el filtro.
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="table-paginator"></mat-paginator>
  </div>
</div>