<h2 mat-dialog-title>{{ (data ? 'CLIENTS.EDIT_CLIENT' : 'CLIENTS.CREATE_CLIENT') | translate }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography form-content">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'CLIENTS.NAME' | translate }}</mat-label>
      <input matInput formControlName="nombreCliente" required>
      <mat-error *ngIf="form.get('nombreCliente')?.hasError('required')">
        {{ 'CLIENTS.NAME_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'CLIENTS.PHONE' | translate }}</mat-label>
      <input matInput type="tel" formControlName="telefonoContacto" required [placeholder]="'CLIENTS.PLACEHOLDER_PHONE' | translate">
      <mat-error *ngIf="form.get('telefonoContacto')?.hasError('required')">
        {{ 'CLIENTS.PHONE_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('telefonoContacto')?.hasError('pattern')">
        {{ 'CLIENTS.PHONE_DIGITS' | translate }}
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'CLIENTS.ADDRESS' | translate }}</mat-label>
      <textarea matInput formControlName="direccion" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'CLIENTS.ADDITIONAL_NOTES' | translate }}</mat-label>
      <textarea matInput formControlName="notas" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end" class="form-actions">
    <button mat-flat-button color="warn" type="button" (click)="onCancel()">{{ 'GLOBAL.CANCEL' | translate }}</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">{{ 'GLOBAL.SAVE' | translate }}</button>
  </mat-dialog-actions>
</form>