<div class="page-container">
  <div class="table-header">
    <h2 class="page-title">{{ 'USERS.MANAGEMENT' | translate }}</h2>
    <div class="table-actions">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>{{ 'USERS.SEARCH_USER' | translate }}</mat-label>
        <input #filterValue matInput [placeholder]="'USERS.PLACEHOLDER_SEARCH' | translate" 
               (keyup.enter)="applyFilter(filterValue.value)"
               (input)="applyFilterIfEmpty(filterValue.value)">
        <mat-icon matSuffix (click)="applyFilter(filterValue.value)">search</mat-icon>
      </mat-form-field>
      <button mat-flat-button color="primary" *ngIf="canCreate" (click)="openUserForm()">
        <mat-icon>add</mat-icon> {{ 'USERS.REGISTER_USER' | translate }}
      </button>
    </div>
  </div>

  <div class="table-card">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'USERS.USERNAME' | translate }}</th>
          <td mat-cell *matCellDef="let user">{{ user.username }}</td>
        </ng-container>
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GLOBAL.ACTIVE' | translate }}</th>
          <td mat-cell *matCellDef="let user">
            <mat-icon [ngClass]="{'active-icon': user.enabled, 'inactive-icon': !user.enabled}" [matTooltip]="(user.enabled ? 'GLOBAL.ACTIVE' : 'GLOBAL.INACTIVE') | translate">
              {{ user.enabled ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef>{{ 'USERS.ROLES' | translate }}</th>
          <td mat-cell *matCellDef="let user">
            <span *ngFor="let role of user.roles; last as isLast">
              {{ role.name | uppercase }}{{ !isLast ? ', ' : '' }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.ACTIONS' | translate }}</th>
          <td mat-cell *matCellDef="let user" class="mat-column-acciones">
            <button mat-icon-button color="accent" *ngIf="canEdit" (click)="openUserForm(user)" [matTooltip]="'GLOBAL.EDIT' | translate">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="canDelete" (click)="deleteUser(user.id!)" [matTooltip]="'GLOBAL.DELETE' | translate">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                {{ 'USERS.NO_USERS_FOUND' | translate }}
            </td>
        </tr>
      </table>
    </div>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"
                   [pageIndex]="currentPage" (page)="paginator.page.next($event)" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>