/* src/app/modules/usuarios/components/usuario-list/usuario-list.component.scss */


@use '../../../../../../styles/abstracts/mixins' as mixins;
@use '../../../../../../styles/abstracts/variables' as vars;
@use '../../../../../../styles/components/tables';
@use '../../../../../../styles/base/base';


.active-icon {
  color: green;
}

.inactive-icon {
  color: red;
}



.filter-field {
  width: 100%;
  max-width: 300px;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: vars.$spacing-s;
}

.mat-column-username {
  font-weight: 500;
  color: vars.$color-primary;
}