<h2 mat-dialog-title>{{ 'ROLES.PERMISSIONS_FOR_ROLE' | translate }} <strong>{{ roleName }}</strong></h2>

<mat-dialog-content>
  <div *ngIf="permissions && permissions.length > 0; else noPermissions">
    <mat-list>
      <mat-list-item *ngFor="let permission of permissions; last as isLast" class="permission-item">
        <mat-icon matListItemIcon color="primary">security</mat-icon>
        <div matListItemTitle class="permission-name" 
             [matTooltip]="permission.description || ('ROLES.NO_DESCRIPTION' | translate)">
          {{ permission.name }}
          <span class="permission-id"> (ID: {{ permission.id }})</span>
        </div>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  
  <ng-template #noPermissions>
    <div class="no-permissions-message">
      <mat-icon color="warn">info</mat-icon>
      <p>{{ 'ROLES.NO_PERMISSIONS_ASSIGNED' | translate }}</p>
    </div>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onClose()">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>