<div class="page-container">
  <div class="table-header">
    <h2>Gestión de Clientes</h2>
    <div class="table-actions">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Buscar cliente</mat-label>
        <input matInput #filterValue placeholder="Ej. Juan Pérez" 
        (keyup.enter)="applyFilter(filterValue.value)"
        (input)="applyFilterIfEmpty(filterValue.value)" 
        />
        <mat-icon matSuffix (click)="applyFilter(filterValue.value)">search</mat-icon>
      </mat-form-field>

      <div class="table-actions">
        <button mat-flat-button color="primary" *ngIf="canCreate" (click)="openForm()">
          <mat-icon>add</mat-icon>
          Agregar Cliente
        </button>
        <button mat-flat-button color="accent" *ngIf="canExportExcel" (click)="exportToExcel()">
          <mat-icon>file_download</mat-icon>
          Excel
        </button>
        <button mat-flat-button color="accent" *ngIf="!canExportExcel" disabled matTooltip="Mejora tu plan para exportar a Excel">
            <mat-icon>file_download</mat-icon>
            Excel
        </button>          
        <button mat-flat-button color="primary" *ngIf="canExportPdf" (click)="exportToPdf()">
          <mat-icon>picture_as_pdf</mat-icon>
          PDF
        </button>
        <button mat-flat-button color="primary" *ngIf="!canExportPdf" disabled matTooltip="Mejora tu plan para exportar a PDF">
            <mat-icon>picture_as_pdf</mat-icon>
            PDF
        </button>          
      </div>
    </div>
  </div>

  <div class="table-card">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="responsive-table">
        <ng-container matColumnDef="nombreCliente">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombreCliente }}</td>
        </ng-container>

        <ng-container matColumnDef="telefonoContacto">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{ element.telefonoContacto }}</td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
        </ng-container>

        <ng-container matColumnDef="notas">
          <th mat-header-cell *matHeaderCellDef>Notas</th>
          <td mat-cell *matCellDef="let element">{{ element.notas }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaRegistro | date }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element" class="mat-column-acciones">
            <button mat-icon-button color="primary" *ngIf="canEdit" (click)="openForm(element)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="canDelete" (click)="deleteCliente(element.id!)" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            No se encontraron clientes que coincidan con el filtro.
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator 
      [length]="totalElements" 
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="[5, 10, 20]" 
      (page)="onPageChange($event)"  showFirstLastButtons
      class="table-paginator"></mat-paginator>
  </div>
</div>